body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #111;
    color: #eee;
}

header {
    background: #1f1f1f;
    text-align: center;
    color: #00aaff;
    padding-bottom: 12px;
}

h1 {
    margin-top: 0;
    padding: 10px
}

nav a {
    margin: 0 15px;
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #1f1f1f;
    transition: border-bottom-color 0.3s ease;
}
nav a:hover {
    border-bottom: 2px solid #00aaff;
}

.container {
    padding: 20px;
}

.cover {
    height: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.price-table, .admin-table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: #1a1a1a;
    color: white;
}

.price-table td, .price-table th,
.admin-table td, .admin-table th {
    border: 1px solid #444;
    padding: 10px;
}

.admin-button, input[type=submit] {
    text-decoration: none;
    color: white;
    background-color: #00aaff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.button-cell {
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;

}

footer {
    text-align: center;
}